<nav class="navbar navbar-expand-md p-2">
<div class="container">
    <a class="navbar-brand" href="#">logo</a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navContents">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul id="navContents" class="navbar-nav nav justify-content-end collapse navbar-collapse">
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-3" href="#">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-3" href="#">works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-3" href="#">skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-3" href="#">contact me</a>
        </li>
        <li class="nav-item">
            <a class="text-black fs-3 mx-3" href="#"><span class="mdi mdi-theme-light-dark"></span></a>
        </li>
    </ul>
</div>
</nav>

<section class="home d-flex justify-content-start align-items-center">
<div class="home-text position-relative w-100 p-5">
    <span class="position-absolute rounded-pill text-uppercase">softeware developer</span>
    <h1 class="text-uppercase">i am abdellatif ouldelmaallem</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, vel. Ex ad possimus doloremque illum illo veritatis corrupti atque quae nemo quod praesentium cupiditate, itaque at, temporibus, voluptas dolorem nisi.</p>
</div>
<figure class="home-img w-100 p-5">
    <img src="../../assets/image/0P8A9620.jpg" alt="profile-picture" width="5395" height="4463">
</figure>
</section>