    .background {
    width: 100%;
    min-height: 43vw;
    background: url("../../assets/image/bg.png");
  }
  

.nav_left {
    background-color: #a965d1;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}

.logo{
    border: 1px solid #a965d1;
    background-color: #a965d1;
    color: #fff;
    height: 37%;
    width: 45px;
    border-radius: 50%;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 5px solid #fff;
    color: #fff;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 30px 0 40px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    padding: 1rem 0.5rem;
    color: #fff;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    border: 3px solid #a965d1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(35, 76, 203, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.image{
    border-left: 10px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    height: 500px;
}

.sd{
    border: 2px solid #836396;
    background: linear-gradient(#643c7c 0%, #836396 100%);
    padding: 5px 25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description{
    font-weight: 600;
    font-size: 20px;
}


