.navbar {
   background-color: #cedaff;
    height: 90px;
    color: black;
    border-bottom: 1px solid black;
}
.nav-link {
    position: relative;
}
.nav-link::after {
    content: '';
    opacity: 0;
    transition: all;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:hover:after {
    opacity: 1;
}
.dark_mode{
    color: black;
}

.home{
    padding: 20px;
    gap: 30px;
    background-color: #cedaff;;
}
.home-text{
 
}
.home-text span{
 
}
.home-text h1{
text-transform: uppercase;
}
.home-text p{

}
.home-img img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border-radius: 10%;
}



