<nav class="navbar navbar-expand-md p-2">
<div class="container">
    <a class="navbar-brand" href="#">logo</a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navContents">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul id="navContents" class="navbar-nav nav justify-content-end collapse navbar-collapse">
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4" href="#">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4" href="#">skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4" href="#">work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4" href="#">contact_me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-3 mx-4" href="#"><span class="mdi mdi-theme-light-dark"></span></a>
        </li>
    </ul>
</div>
</nav>