<section class="about-us m-4">
    <div class="image-container ">
      <img src="../../assets/image/ME.JPG" alt="About ME Image">
      <div class="paper-border"></div>
    </div>
    <div class="content">
      <h2>About Me</h2>
      <p>I'm FullStack developer with almost two years of experience in creating websites and applications.
        Passionate about new techniques and problem-solving, I have expertise in both front-end and 
        back-end, with a strong understanding of modern web techniques</p>
    </div>
</section>