<section >
    <h1 class="text-center font-weight-bold">My Works Professional</h1>
    <div class="section-of-works d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/image/c-media.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Clip Santé</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://clipsante.fr/" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/image/MesDocs.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MesDocteurs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.mesdocteurs.com/" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/image/images.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Juneyo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://juneyo.com/" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</section>